terraform/state-machine/pipeline.asl.json
{
  "Comment": "Pipeline: scrape, then per-ref augment, index, and optional company disambiguation",
  "StartAt": "Scraper",
  "States": {
    "Scraper": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Map",
      "QueryLanguage": "JSONata",
      "Arguments": {
        "FunctionName": "${scraper_lambda_arn}",
        "Payload": "{% $states.input %}"
      },
      "Output": "{% $states.result.Payload %}"
    },
    "Map": {
      "Type": "Map",
      "Label": "${map_run_label}",
      "ItemProcessor": {
        "ProcessorConfig": {
          "ExecutionType": "STANDARD",
          "Mode": "DISTRIBUTED"
        },
        "StartAt": "Augmenter",
        "States": {
          "Augmenter": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "QueryLanguage": "JSONata",
            "Arguments": {
              "FunctionName": "${augmenter_lambda_arn}",
              "Payload": {
                "ref": "{% $states.input %}"
              }
            },
            "Output": {
              "ref": "{% $states.result.Payload %}"
            },
            "Next": "Parallel"
          },
          "Parallel": {
            "Type": "Parallel",
            "Branches": [
              {
                "StartAt": "Indexer",
                "States": {
                  "Indexer": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "QueryLanguage": "JSONata",
                    "Arguments": {
                      "Payload": "{% $states.input %}",
                      "FunctionName": "${indexer_lambda_arn}"
                    },
                    "End": true
                  }
                }
              },
              {
                "StartAt": "DisambiguationChoice",
                "States": {
                  "DisambiguationChoice": {
                    "Type": "Choice",
                    "QueryLanguage": "JSONata",
                    "Choices": [
                      {
                        "Next": "Company Disambiguator",
                        "Condition": "{% $contains($states.input.ref._id, 'acceptance_decision') %}"
                      }
                    ],
                    "Default": "SkipCompanyDisambiguation"
                  },
                  "SkipCompanyDisambiguation": {
                    "Type": "Pass",
                    "Result": {},
                    "End": true
                  },
                  "Company Disambiguator": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "QueryLanguage": "JSONata",
                    "Arguments": {
                      "FunctionName": "${company_disambiguator_lambda_arn}",
                      "Payload": "{% { 'name': $states.input.ref.name, 'unions': $states.input.ref.unions, 'application_date': $states.input.ref.application_date, 'bargaining_unit': $states.input.ref.bargaining_unit, 'locations': $states.input.ref.locations, 'force': false } %}"
                    },
                    "End": true
                  }
                }
              }
            ],
            "End": true
          }
        }
      },
      "Next": "Success",
      "QueryLanguage": "JSONata",
      "MaxConcurrency": 3
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
