terraform/state-machine/pipeline.asl.json
{
  "Comment": "Pipeline: scrape, then per-ref augment, index, and optional company disambiguation",
  "StartAt": "Scraper",
  "States": {
    "Scraper": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Map",
      "QueryLanguage": "JSONata",
      "Arguments": {
        "FunctionName": "${scraper_lambda_arn}",
        "Payload": "{% $states.input %}"
      },
      "Output": "{% $states.result.Payload %}"
    },
    "Map": {
      "Type": "Map",
      "Label": "${map_run_label}",
      "ItemProcessor": {
        "ProcessorConfig": {
          "ExecutionType": "STANDARD",
          "Mode": "DISTRIBUTED"
        },
        "StartAt": "Augmenter",
        "States": {
          "Augmenter": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "QueryLanguage": "JSONata",
            "Arguments": {
              "FunctionName": "${augmenter_lambda_arn}",
              "Payload": {
                "ref": "{% $states.input %}"
              }
            },
            "Output": "{% $states.result.Payload %}",
            "Next": "DisambiguationChoice"
          },
          "DisambiguationChoice": {
            "Type": "Choice",
            "QueryLanguage": "JSONata",
            "Choices": [
              {
                "Condition": "{% $contains($states.input.ref._id, 'acceptance_decision') %}",
                "Next": "Company Disambiguator"
              }
            ],
            "Default": "Indexer"
          },
          "Company Disambiguator": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "QueryLanguage": "JSONata",
            "Arguments": {
              "FunctionName": "${company_disambiguator_lambda_arn}",
              "Payload": "{% { 'name': $states.input.name, 'unions': $states.input.unions, 'application_date': $states.input.application_date, 'bargaining_unit': $states.input.bargaining_unit, 'locations': $states.input.locations, 'force': false } %}"
            },
            "Output": {
              "ref": "{% $states.input.ref %}"
            },
            "Next": "Disambiguation Indexer"
          },
          "Disambiguation Indexer": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "QueryLanguage": "JSONata",
            "Arguments": {
              "Payload": "{% $states.input %}",
              "FunctionName": "${indexer_lambda_arn}"
            },
            "End": true
          },
          "Indexer": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "QueryLanguage": "JSONata",
            "Arguments": {
              "Payload": "{% $states.input %}",
              "FunctionName": "${indexer_lambda_arn}"
            },
            "End": true
          }
        }
      },
      "Next": "Success",
      "QueryLanguage": "JSONata",
      "MaxConcurrency": 3
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
